AuthType Basic
AuthUserfile /var/www/html/.htpasswd
# AuthGroupfile /dev/null
AuthName "Please enter your ID and password"
require valid-user
<FilesMatch "\.js|\.css|\.png|\.jpg|\.jpeg">
Satisfy Any
Order allow,deny
Allow from all
Deny from none
</FilesMatch>

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
